html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    /* height: 100vh; */
}

header,
.hero,
footer {
    background-color: #1f2937;
    color: #f9faf8;
}

header {    
    padding: 16px;
}

nav,
.hero-container {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 32px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

.logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container {
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-text button {
    padding: 8px 32px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

.hero-image {
    background-color: grey;
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin-top: 48px;
    margin-bottom: 64px;
}

.info h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 32px;
}

.info-container {
    display: flex;
    gap: 48px;
    justify-content: center;
}

.box-container {
    max-width: 150px;
}

.box {
    border: #3882f6 solid 3px;
    border-radius: 10px;
    width: 160px;
    height: 160px;
}

.box-text {
    color: rgb(88, 88, 88);
}